html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.253),
      rgba(0, 0, 0, 0.253)
    ),
    url("assests/WhatsApp\ Image\ 2023-06-28\ at\ 09.47\ 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.links {
  font-family: "IBM Plex Sans", sans-serif;
}
.heading {
  font-family: "Old Standard TT";
}
.ibm-font {
  font-family: "IBM Plex Sans", sans-serif;
}
.old-font {
  font-family: "Old Standard TT";
}
.image-container {
  background-image: linear-gradient(
      to right bottom,
      rgba(48, 48, 63, 0.397),
      rgba(48, 48, 63, 0.349)
    ),
    url("assests/WhatsApp\ Image\ 2023-06-28\ at\ 09.47\ 2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.welcome {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.253),
      rgba(0, 0, 0, 0.253)
    ),
    url("assests/ALIS5798\ 1.png");
  background-position: center;
  overflow: hidden;
}
@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.email-login {
  outline: none;
}
.email-login:invalid {
  animation: shake 0.2s ease-in-out 0s 2;
}

.signup:invalid {
  box-shadow: 0 0 0.6rem #ff0000;
  animation: shake 0.2s ease-in-out 0s 2;
}

#blurryscroll {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
  /* filter: blur(4px); */
}
nav {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
  /* filter: blur(4px); */
}
.blur-back {
  backdrop-filter: blur(30px);
  z-index: 1;
}
.hidden {
  display: none;
}
